
.wrapper {
	
}

h1 {
	font-size: 2em;
	font-weight: 800;
	font-family: 'Gabriela', serif;
}

h2 {
	font-size: 1.5em;
	font-weight: 600;
	font-family: 'Cagliostro', sans-serif;
}

p {
	font-family: 'Gabriela', serif;
}

ul li {
	list-style: none;
	font-family: 'Cagliostro', sans-serif;
}

a {
	text-decoration: none;
	color: #107D7D;
	font-weight: bold;
}

a:visited {
	text-decoration: none;
	color: #81b21c;
	font-weight: bold;
}

img.grayscale{
filter: grayscale(100%);
-webkit-filter: grayscale(100%); /* For Webkit browsers */
filter: gray; /* For IE 6 - 9 */
-webkit-transition: all .1s ease; /* Fade to color for Chrome and Safari */
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.1111 0.1111 0.1111 0 0 0.1111 0.1111 0.1111 0 0 0.1111 0.1111 0.1111 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

img.grayscale:hover{
filter: grayscale(0%);
-webkit-filter: grayscale(0%);
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

/* LOGO & Tag Line */

.masthead {
	height: 200px;
	min-height: 50px;
	width: 100%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
/*	margin: 10px 0 10px 0;
*/	/*background-image: -webkit-gradient(
		linear,
		right bottom,
		right bottom,
		color-stop(0.45, rgb(104, 227, 215)),
		color-stop(1, rgb(185, 218, 95))
	);
	background-image: -o-linear-gradient(right bottom, rgb(104, 227, 215) 45%, rgb(185, 218, 95) 100%);
	background-image: -moz-linear-gradient(right bottom, rgb(104, 227, 215) 45%, rgb(185, 218, 95) 100%);
	background-image: -webkit-linear-gradient(right bottom, rgb(104, 227, 215) 45%, rgb(185, 218, 95) 100%);
	background-image: -ms-linear-gradient(right bottom, rgb(104, 227, 215) 45%, rgb(185, 218, 95) 100%);
	background-image: linear-gradient(to right bottom, rgb(104, 227, 215) 45%, rgb(185, 218, 95) 100%);*/
	
	background-image: -webkit-gradient(
		linear,
		right bottom,
		right bottom,
		color-stop(0.45, rgb(83, 207, 195)),
		color-stop(1, rgb(185, 218, 95))
	);
	background-image: -o-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: -moz-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: -webkit-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: -ms-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: linear-gradient(to right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
}

.masthead h1 {
	font-family: 'Gabriela', serif;
	font-weight: bolder;
	padding: 50px 0 10px 10px;
	text-align: center;
}

.masthead h2 {
	font-family: 'Cagliostro', sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 0 0 0 10px;
}

.masthead h3 {
	font-family: 'Gabriela', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 1.75em;
	font-style: italic;
	padding: 30px 0 0px 10px;
}


/* NAVIGATION LINKS STYLING */

.navbar {
	padding-top: 8px;
	width: 100%;
	height: 50px;
}

.navlink {
	float: left;
	padding: 10px 10px 0 15px;
	/*color: #107D7D;*/
}

/* PORTFOLIO EXAMPLES */

.examples {
	margin: 80px 5px 20px 40px;
	position: relative;
	text-align: center;

}

.examples ul {
	display: inline-block;
}

.exmaples li {
	display: block;

}

.description {
	text-align: center;
	margin-top: -30px;
}


/*STYLING FOR PROJECT EXAMPLES WITHIN BOX DIV */

.projects {
	float: left;
	background-color: #bada5f;
	border-radius: 180px;
	border: 1px solid #11ABAB;
	margin: 10px 8px 20px 8px;
	box-shadow: 1px 1px 1px 1px #11ABAB;
	-webkit-box-shadow: 1px 1px 1px 1px #11ABAB;
	-moz-box-shadow: 1px 1px 1px 1px #11ABAB;
}


.projects img {
	width: 250px;
	height: 250px;
	/*border: 1px solid #f4f4f2;*/
	border-radius: 180px;
	margin: 10px;
	padding: 15px;
	text-align: center;
	overflow: hidden;
	}

/* BOTTOM FOOTER PORTION WITH QUICK CONTACT FORM, HOUDINI LOGO PIC, SOCIAL CONNECTIONS, COPYRIGHT INFO */

.align {
	display: inline-block;
	height: 400px;
	width: 100%;

	background-image: -webkit-gradient(
		linear,
		right bottom,
		right bottom,
		color-stop(0.45, rgb(83, 207, 195)),
		color-stop(1, rgb(185, 218, 95))
	);
	background-image: -o-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: -moz-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: -webkit-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: -ms-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: linear-gradient(to right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	
}

.nonhomepg {
	display: inline-block;
	height: 200px;
	width: 100%;
	margin: 0;
	position: relative;
	bottom: 0;

	background-image: -webkit-gradient(
		linear,
		right bottom,
		right bottom,
		color-stop(0.45, rgb(83, 207, 195)),
		color-stop(1, rgb(185, 218, 95))
	);
	background-image: -o-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: -moz-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: -webkit-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: -ms-linear-gradient(right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
	background-image: linear-gradient(to right bottom, rgb(83, 207, 195) 45%, rgb(185, 218, 95) 100%);
}

.bottom {
	display: block;
	float: left;
}

/* SOCIAL ICONS */

#social {
	padding: 20px 20px 20px 100px;
	text-align: center;
	float: right;


}

/* SOCIAL BUTTONS ON HIRE, BLOG, AND ABOUT PAGES */

#socialhire {
	padding: 10px 20px 20px 10px;
	text-align: left;
}

#socialhire h2 {
	padding: 20px 0 15px 10px;
}

.socialbtn {
	height: 50px;
	width: auto;
	padding: 5px;
}

/* HOUDINI LOGO PICTURE */

#houdini {
	padding: 20px;

}

#hou-cu {
	border-radius: 25px;
	height: 300px;
	width: auto;
}

/*#hou-cu img {
	border-radius: 180px;
}*/

/* QUICK CONTACT FORM IN FOOTER */

#contact {
	padding: 20px 50px 20px 20px;

}

#contact h2 {
	text-align: center;
}

#contact p {
	padding: 15px 0 5px 0;
}

#email  {
	height: 20px;
	width: 300px;
}

#comment  {
	height: 100px;
	width: 300px;
}

/* NO FRILLS COPYRIGHT TAG */

#copyright {
	font-family: 'Gabriela', serif;
	text-align: center;
	clear: both;
	position: relative;
	bottom: 8px;
}

#copyright span {
	font-size: 1em;
}


/*ABOUT PAGE STYLING */

#about {
	margin: 40px 10px 40px 15px;
}

#about-title {
	margin-left: 10px;
}

.content {
	margin: 15px 10px 30px 15px;
	line-height: 1.5em;
}

#resume {
	margin-left: 10px;
}

/* HIRE ME PAGE */

#hirepage {
}



/* HIRE ME FORM; STYLING IS FOR ACCESSIBLE FORM -- TRYING SOMETHING NEW! */


form {
	margin: 10px 0 10px 20px;
}

form.row {
	float: left;

}

div.row input#submitbtn {
	height: 50px;
	width: 80px;
	border-radius: 5px;
	background-color: #81b21c;
	font-family: 'Cagliostro', sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	padding: 1px;
	margin: 10px 25px 0 0;
	clear: both;
}

div.row input#resetbtn {
	height: 50px;
	width: 80px;
	border-radius: 5px;
	background-color: #81b21c;
	font-family: 'Cagliostro', sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	padding: 1px;
	margin: 10px 0 0 25px;
	clear: both;
}

div.row label input.required {
	width: 80em;
}

/* TRYING OUT FORM CREATION BY ACCESSIFY */

div.row {/*background:#ffc;border:2px solid #ffc;*/margin:0 0 5px 0;float:left;width:50%;padding:6px 0; font-family: 'Cagliostro', sans-serif;}
div.row label {float:left;display:block;width:5em;font-weight:bold;padding:0 6px;}
div.row label:hover {background:#FFFF66;cursor:pointer;}
div.row fieldset {/*border:1px solid gray;*/margin:0 6px;}
div.row fieldset span {display:block;}
div.row fieldset span label {float:none;display:inline; font-family: 'Cagliostro', sans-serif;}
div.row fieldset legend {font-weight:bold; font-family: 'Cagliostro', sans-serif; padding-bottom: 8px;}
div.row fieldset legend span input label {padding-bottom: 12px;}
div.requiredRow {border:2px solid white;}

/* BLOG PAGE STYLING AND INFO */

#blogwhitespace {
	padding: 100px;
}

